<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> nav}}
    <h2 style="text-align:center">Registration Page</h2>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

   <div class="container">
    <form action="/users/registerUser" method="post">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" name="name" class="form-control"/>
        </div><br>
        <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" name="email" placeholder="name@example.com">
          </div><br>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="pass" class="form-control"/>
        </div><br>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="conpass" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Remember Me</label>
            <input type="checkbox"/>
        </div><br>
          <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Age</label>
    <input type="text" class="form-control" id="age">
        <button type="Login" class="btn btn-success">Login</button>
    </form>
</body>
</html>